{% if urodzenia %}
<table class="min-w-full bg-white rounded shadow">
    <thead>
        <tr class="bg-gray-200 text-left">
            <th class="py-2 px-4">Województwo</th>
            <th class="py-2 px-4">Rok</th>
            <th class="py-2 px-4">Ogółem</th>
            <th class="py-2 px-4">Chłopcy</th>
            <th class="py-2 px-4">Dziewczęta</th>
        </tr>
    </thead>
    <tbody>
        {% for u in urodzenia %}
        <tr class="border-b hover:bg-gray-100">
            <td class="py-2 px-4">{{ u.wojewodztwa }}</td>
            <td class="py-2 px-4">{{ u.rok }}</td>
            <td class="py-2 px-4">{{ u.liczba_ogolem }}</td>
            <td class="py-2 px-4">{{ u.chlopcy }}</td>
            <td class="py-2 px-4">{{ u.dzieczeta }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
